target/
dump/
logs/
!.mvn/wrapper/maven-wrapper.jar

### misc. & OS specific ###
desktop.ini
gitadd-commit-push.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

